ACTIVE_PROFILE=prod
DB_USERNAME=user
DB_PASSWORD=password
DB_ROOT_PASSWORD=root

SERVICES_INTERNAL_SECRET=sosecretmuchwow
JWT_SECRET=asecretlongenoughforhmacsha256orsomethingsomething

RABBITMQ_PORT=5672
RABBITMQ_DEFAULT_EXCHANGE=main
RABBITMQ_USERNAME=user
RABBITMQ_PASSWORD=password
RABBITMQ_VHOST=/
